[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "==3.5.0"
asgiref = "==3.5.0"
black = "==22.3.0"
click = "==8.1.2"
ecdsa = "==0.17.0"
fastapi = "==0.75.1"
h11 = "==0.13.0"
idna = "==3.3"
mypy-extensions = "==0.4.3"
passlib = "==1.7.4"
pathspec = "==0.9.0"
platformdirs = "==2.5.1"
pyasn1 = "==0.4.8"
pydantic = "==1.10.0"
python-jose = "==3.3.0"
python-multipart = "==0.0.5"
rsa = "==4.8"
six = "==1.16.0"
sniffio = "==1.2.0"
starlette = "==0.17.1"
tomli = "==2.0.1"
typing-extensions = "==4.1.1"
uvicorn = "==0.17.6"
SQLAlchemy = "==1.4.35"
cloud-sql-python-connector = {extras = ["pg8000"], version = "*"}
bcrypt = "*"
alembic = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy-cockroachdb = "*"
