@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./theme.scss";
@import "./text.scss";


html {
    display: block;
    font-size: 14px;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    @media (min-width: 1024px) {
        font-size: 16px;
    }
}

body {
    width: 100%;
    height: 100%;
}

:root {
    --navbar-height: 64px;
}
