@font-face {
    font-family: Pacifico;
    src: url("/fonts/Pacifico-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

.hover-underline {
    &:hover {
        text-decoration-line: underline;
    }
}

.link {
    @apply transition-colors;

    &:hover {
        @apply text-sky-600;
    }
}
