body {
    @apply bg-[radial-gradient(circle,_rgba(255,255,255,1)_30%,_rgba(179,235,255,1)_100%)]
           dark:bg-[radial-gradient(circle,_rgba(0,0,0,1)_30%,_rgba(0,44,60,1)_100%)]
         text-[#374151] dark:text-white/[0.92] transition-all duration-500;
}
